@model RoyalLibraryOfAlexandria.Models.Papyrus[]


@{
    ViewBag.Title = "The Royal Library of Alexandria";
}

<h2>@ViewBag.Title</h2>

<div class="row">
  
   
        <div class="col-md-3">
            <h4></h4>
            <p>@Html.ActionLink("Salvage Papyrus", "Create", "Papyri")</p>
        </div>
   
</div>